[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "acled.api"]
	path = acled.api
	url = https://gitlab.com/chris-dworschak/acled.api
[submodule "disastr.api"]
	path = disastr.api
	url = https://github.com/chris-dworschak/disastr.api
